body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3.5rem;
    color: #2b7b87;
    text-transform: uppercase;
    margin-top: 20px;
}

.menu{
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    justify-items: center;
}
li{
    list-style: none;
}
a{
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: #2b7b87;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px auto;
}

a:hover{
    background-color: white;
    color: #1a5a60;
    border: 2px solid #2b7b87;
}